@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/landing-page.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Intro section -->
<div class="intro-section">
    <div class="intro-text">
        <h1>University </br>Barber Shop</h1>
        <h3>Remember… </h3>
        <h3>it’s not just a haircut, it’s an experience.</h3>
    </div>
</div>

<!-- Barbers section-->
<div class="staff-section">
    <!-- Title -->
    <div class="barber-header">
        <h1>MEET THE BARBERS</h1>
    </div>

    <!-- Barbers container-->
    <div class="barbers card-group">
        <!-- Barber card-->
        <div class="barbers-container">
            <div class="pic-container">
                <img src="~/images/profile-pic.jpg" class="profile" alt="profile pic" width="128" height="128" />
            </div>
            <div class="profile-name">
                Anderson Porta
            </div>
            <div class="rating">
                <p>4.3 <br /> XXXX </p>
            </div>
            <button class="profile-btn">Profile</button>
            <button class="book-now-btn">Book Now</button>
        </div>
        <!-- Barber card-->
        <div class="barbers-container">
            <div class="pic-container">
                <img src="~/images/profile-pic.jpg" class="profile" alt="profile pic" width="128" height="128" />
            </div>
            <div class="profile-name">
                Anderson Porta
            </div>
            <div class="rating">
                <p>4.3 <br /> XXXX </p>
            </div>
            <button class="profile-btn">Profile</button>
            <button class="book-now-btn">Book Now</button>
        </div>
        <!-- Barber card-->
        <div class="barbers-container">
            <div class="pic-container">
                <img src="~/images/profile-pic.jpg" class="profile" alt="profile pic" width="128" height="128" />
            </div>
            <div class="profile-name">
                Anderson Porta
            </div>
            <div class="rating">
                <p>4.3 <br /> XXXX </p>
            </div>
            <button class="profile-btn">Profile</button>
            <button class="book-now-btn">Book Now</button>
        </div>
        <!-- Barber card-->
        <div class="barbers-container">
            <div class="pic-container">
                <img src="~/images/profile-pic.jpg" class="profile" alt="profile pic" width="128" height="128" />
            </div>
            <div class="profile-name">
                Anderson Porta
            </div>
            <div class="rating">
                <p>4.3 <br /> XXXX </p>
            </div>
            <button class="profile-btn">Profile</button>
            <button class="book-now-btn">Book Now</button>
        </div>
        <!-- Barber card-->
        <div class="barbers-container">
            <div class="pic-container">
                <img src="~/images/profile-pic.jpg" class="profile" alt="profile pic" width="128" height="128" />
            </div>
            <div class="profile-name">
                Anderson Porta
            </div>
            <div class="rating">
                <p>4.3 <br /> XXXX </p>
            </div>
            <button class="profile-btn">Profile</button>
            <button class="book-now-btn">Book Now</button>
        </div>
    </div>
</div>





