@*/**
    * CS 4540 Web Software Architecture
    * Landing Page
    * Authors: Anderson Porta
    * Date: 12-6-2019
    * Landing page UI
    **/*@
@model IEnumerable<cs4540_final_project.Models.Worker>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/landing-page.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Intro section -->
<div class="intro-section">
    <div class="intro-text">
        <h1>Team Razor Sharp</h1>
        <h3>important aspects and features of the project</h3>
        <h3>
            On the website, learn about the workers,
            make appointments with them, read reviews by other people, and make comments and
            reviews of barbers. This website has application in the real world in that barbershops
            could implement this website and have customers make appointments, read reviews,
            and overall learn about the barbershop. While we made this website specific to fictional
            barber shop, a UI change could make this a Nail salon, or a day spa.

        </h3>
    </div>
</div>