/*
    CS 4540 Web Software Architecture
    CSS for the booking page
    Author: Anderson Porta
    Date: 12-6-2019
*/
.booking-container {
    background-color: #222831;
}


.booking {
    width: 80% !important;
    margin: auto;  
    
}

.row {
    padding-top: 150px;
    padding-bottom: 150px;
}

.card {
    text-align: center;
    padding-bottom: 10px;
}



