@model cs4540_final_project.Models.Worker

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="intro-section">
    <div class="element-container">
        <h1 class="title">Create Worker</h1>
        <section class="login-section">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Job" class="control-label"></label>
                    <input asp-for="Job" class="form-control" />
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Services" class="control-label"></label>
                    <input asp-for="Services" class="form-control" />
                    <span asp-validation-for="Services" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <a asp-action="Index">Back to List</a>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
